<template>
    <div class="message justify-content-end" :class="{'is-current-user': $root.currentUserLogin.id === message.user.id}" v-if="$root.currentUserLogin.id === message.user.id">
        <div class="msg-item d-flex justify-content-end mb-4 w-100">
            <div class="msg-container message-item text-message" style="background-color:rgba(255,188,54,0.82) !important;">
                {{ message.message }}
            </div>
            <div class="message-item timestamp">
                {{ message.created_at.split(' ')[1] }}
            </div>
            <div class="img_cont_msg bg-white rounded-circle d-flex justify-content-center align-items-center message-item user-name ml-1">
                <span class="rounded-circle d-flex justify-content-center align-items-center" style="background-color: rgba(255,188,54,0.82); color: #FFF">{{ message.user.name[0].toUpperCase()}}</span>
            </div>
            <!--                        <div class="message-item user-name">-->
            <!--                            {{ message.user.name}}-->
            <!--                        </div>-->
            <!--                        <div class="message-item timestamp">-->
            <!--                            | {{ message.created_at.split(' ')[1] }}:-->
            <!--                        </div>-->
            <!--                        <div class="message-item text-message">-->
            <!--                            {{ message.message }}-->
            <!--                        </div>-->
        </div>
    </div>
    <div class="message" v-else>
        <div class="msg-item d-flex justify-content-start mb-4 w-100">
            <div class="img_cont_msg bg-white rounded-circle d-flex justify-content-center align-items-center">
                <span class="rounded-circle d-flex justify-content-center align-items-center" style="background-color: rgb(121, 183, 243); color: #FFF">{{ message.user.name[0].toUpperCase()}}</span>
            </div>
            <div class="msg-container ml-1">
                {{ message.message }}
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            message: {
                type: Object,
                default: {},
            },
        },
    }
</script>
<style lang="scss" scoped>
    .message {
        display: flex;
        color: #00b8ff;

        /*.message-item:not(:last-child) {*/
        /*    margin-right: 5px;*/
        /*}*/
    }

    /*.message:not(:last-child) {*/
    /*    padding-bottom: 20px;*/
    /*}*/

    .message {
        .img_cont_msg {
            width: 40px;
            height: 40px;

            span {
                width: 36px;
                height: 36px;
            }
        }

        .msg-container {
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 25px;
            background-color: #00a0e5;
            padding: 10px;
            position: relative;
            color: white;
            word-break: break-word;
            max-width: 70%;
        }
    }
</style>
